In [17]:
import random
# create a list named sample_list_1 with 80 random values
# Each value is an integer falling between 0 and 100.
# Each value in the list is unique.
sample_list_1 = random.sample(range(1,100), 80)
sample_list_1

[5,
 73,
 64,
 15,
 36,
 8,
 19,
 38,
 29,
 39,
 49,
 67,
 58,
 97,
 94,
 56,
 72,
 11,
 52,
 59,
 26,
 60,
 33,
 50,
 83,
 48,
 34,
 14,
 66,
 71,
 87,
 81,
 21,
 37,
 27,
 98,
 54,
 80,
 43,
 42,
 77,
 88,
 79,
 9,
 91,
 10,
 23,
 70,
 55,
 57,
 96,
 32,
 74,
 63,
 16,
 13,
 24,
 20,
 35,
 95,
 40,
 93,
 61,
 41,
 86,
 3,
 45,
 47,
 31,
 84,
 75,
 92,
 65,
 12,
 62,
 6,
 76,
 44,
 68,
 69]

In [2]:
# Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?
set1 = set(sample_list_1)
len(set1)

80

In [3]:
# Create another list named sample_list_2 with 80 random values.
#Each value is an integer falling between 0 and 100.
# The values in the list don't have to be unique
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(1,100))
sample_list_2

[99,
 31,
 17,
 79,
 9,
 80,
 52,
 24,
 62,
 81,
 14,
 21,
 27,
 71,
 72,
 62,
 63,
 79,
 39,
 88,
 17,
 10,
 81,
 62,
 5,
 82,
 10,
 85,
 13,
 9,
 16,
 35,
 13,
 82,
 93,
 12,
 98,
 59,
 19,
 78,
 34,
 66,
 39,
 91,
 65,
 73,
 51,
 20,
 7,
 68,
 53,
 83,
 84,
 15,
 97,
 57,
 37,
 44,
 98,
 67,
 24,
 68,
 81,
 53,
 37,
 5,
 64,
 29,
 36,
 65,
 96,
 50,
 88,
 69,
 1,
 88,
 87,
 73,
 23,
 18]

In [4]:
# Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?
set2 = set(sample_list_2)
len(set2)

59

In [5]:
# Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3
set3 = set1 - set2
set3

{2,
 3,
 6,
 8,
 11,
 22,
 25,
 26,
 28,
 30,
 32,
 38,
 40,
 41,
 42,
 45,
 46,
 47,
 48,
 49,
 54,
 55,
 56,
 58,
 60,
 70,
 75,
 76,
 77,
 86,
 89,
 90,
 92,
 95}

In [7]:
# Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4
set4 = set2 - set1
set4

{13, 21, 27, 29, 31, 36, 39, 52, 57, 72, 79, 84, 87}

In [8]:
# Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.
set5 = set1.union(set2)
set5

{1,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98,
 99}

In [9]:
#What is the relationship among the following values:

#len(set1)
#len(set2)
#len(set3)
#len(set4)
#len(set5)

print("There are", len(set3), "elements present in set1 but not in set2")
print("There are", len(set4), "elements present in set2 but not in set1")
print("There are", len(set5), "elements shared between set1 and set2")

There are 34 elements present in set1 but not in set2
There are 13 elements present in set2 but not in set1
There are 93 elements shared between set1 and set2

In [10]:
# Create an empty set called set6.

set6 = set()

# Add set3 and set5 to set6 using the Python Set update method.

set6.update(set3, set5)

set6

{1,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98,
 99}

In [11]:
# Check if set1 and set6 are equal.

if set1 == set6:
    print("set1 equal to set6")
else:
    print("set1 is not equal to set6")

set1 is not equal to set6

In [12]:
# Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 doesn't contain set2")
    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 doesn't contain set3")

set1 doesn't contain set2
set1 contains set3

In [13]:
# Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.

ag1 = set3.union(set4, set5)
ag2 = set1.union(set2)

print(ag1)
print(ag2)

# Check if the aggregated values are equal.

if ag1 == ag2:
    print("The aggregated values are equal")
else:
    print("The aggregated values are not equal")

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
The aggregated values are equal

In [15]:
# Using the pop method, remove the first element from set1.

first_element = set1.pop()
print("The first element is removed is:", first_element)
print("set1 =", set1)

The first element is removed is: 2
set1 = {3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 30, 32, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

In [18]:
# Using the pop method, remove the first element from set1.

first_element = set1.pop()
print("The first element is removed is:", first_element)
print("set1 =", set1)

# it works but each time I run the input, the output will be the next number, 
# as i ran the input 2 times, the element is removed is 5 instead of 3.

The first element is removed is: 5
set1 = {6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 30, 32, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

In [22]:
# Remove every element in the following list from set1 if they are present in the set. 
# Print the remaining elements.

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 34, 35, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 75, 76, 77, 78, 80, 82, 83, 85, 86, 88, 90, 92, 93, 95, 96, 97, 98}